# Core Web & DB
Flask
aiosqlite
psycopg2-binary

# Trading & AI Engine
ccxt
ta
pandas
numpy
scikit-learn
joblib
vaderSentiment
aiohttp

# Utils & API
python-dotenv
requests
fastapi
uvicorn
jinja2
cloudinary
stripe
sanpy

# System
gunicorn
werkzeug
